label[required] {
  &::after {
    content: '*';
    @apply text-red-600;
  }
}

// this isn't specific enough to hit some fields in the batch form.
input:invalid,
textarea:invalid,
select:invalid {
  @apply border-red-600;
  @apply bg-green-300;
  @apply border-2;
  transition: 500ms linear;
}


.subpage-link {
  @apply px-2;
  @apply py-1;
  @apply mb-1;
  @apply bg-orange-300;
  @apply rounded-md;
  @apply inline-block;
  &.nuxt-link-exact-active {
    @apply bg-blue-300;
  }
}